.jp-shortcutWidget {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background: #EEEEEE;
    padding-left: 10px;
}

.jp-shortcutlistcontainer {
    padding-left: 300px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.jp-shortcutlistcontainer div {
    display: inline-block;
}
.jp-cmdlabelcontainer {
    order: 1; 
    flex-basis: 30%; 
    width: 30%;
    height: 100px;
}

.jp-cmdbindingcontainer {
    order: 3; 
    flex-basis: 50%; 
    width: 50%;
    height: 100px;
}

.jp-cmdbinding {
    padding-right: 10px;
}

.jp-cmdsourcecontainer {
    order: 2; 
    flex-basis: 10%; 
    width: 10%;
    height: 100px;
}

p {
    font: 'Moneserrat';
    font-weight: 400;
    size: 14px;
    color: #616161;
}

input {
    height: 10px;
    padding: 2px;
    background: white;
}