/*Top Whitespace*/
.jp-topwhitespace {
    content: " ";
    height:var(--jp-toolbar-micro-height); 
    border-bottom: 1px solid var(--jp-toolbar-border-color);
    box-shadow: var(--jp-toolbar-box-shadow);
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--jp-toolbar-background);
}

/*Overall*/
.jp-shortcutWidget {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/*Top Navigation*/
.jp-shortcuttopnav {
    display: flex;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 60px;
}

.jp-link {
    color: #64B5F6;
    text-decoration: none;
}

.jp-link:nth-of-type(1) {
    width: 30%;
}

.jp-link:nth-of-type(2) {
    width: 20%;
}

.jp-search {
    border: solid #E0E0E0 0.75px;
    border-radius: 3px;
    height: 20px;
    width: 50%;
}

.jp-searchcontainer {
    width: 50%;
}

.jp-col1 {
    width: 30%;
    text-align: left;
}

.jp-col2 {
    width: 50%;
    text-align: left;
}

.jp-col3 {
    width: 10%;
    text-align: left;
}

/*SideBar*/
.jp-shortcutmenu {
    width: 15%;
    height: 100%;
    overflow-x: hidden;
    padding-top: 10px;
    border-right: solid 1px;
    position: fixed;
}

.jp-shortcutmenuitem {
    overflow: hidden;
    padding: 15px 0px 0px 14px;
    text-align: left;
    font-size: var(--jp-ui-font-size1);
    height: 35px;
}

.jp-shortcutmenuitem a {
    font-weight: 400;
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
}

.jp-shortcutmenuitem:hover{
    background-color: #ECEBEB;
    border-color: #DCDBDC;
    border-width: 0.5px;
}

.jp-shortcutmenuitem:active {
    background-color: #2196F3;
}

/*Main Shortcut List*/
.jp-shortcutlist {
    margin-left: 20%;
    width: 60%;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
}

.jp-shortcutlistheader {
    display: -webkit-box;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
}

.jp-cmditem {
        height: 30px;
        padding: 10px;
        display: flex;
        width: 100%;
        background: inherit;
}

.jp-cmdlabel {
        display: inline-block;
        font: 'Moneserrat';
        font-weight: 400;
        size: 14px;
        color: #616161;
        padding-right: 10px;
        align-self: left; 
}

.jp-shortcut {
        font: "Source Code Pro";
        font-style: "Regular";
        font-size: 13px;
        fill: solid;
        background: #F4F3F4;
        border-radius: 2px;
        border-color: #BDBDBD;
        border-width: 0.75px;
        margin-right: 20px;
    }

.jp-shortcut:hover {
    border-width: 1.25px;
}
    
.jp-shortcut:active {
    border-color: #828282;
    background: #E0E0E0;
}

.jp-shortcut:focus {
    outline: none;
}

.jp-shortcut::after {
    content: '     ×';
}

.jp-input {
    background: #F4F4F4;
    border-radius: 2px;
    border-width: 0.75px;
    border-color: #BDBDBD;
}
    
.jp-input:focus {
    outline: none;
}

.jp-submit:focus {
    outline:none;
}

.jp-shortcutlistcontainer div {
    display: inline-block;
}

.jp-cmdlabelcontainer {
    order: 1; 
    flex-basis: 30%; 
    width: 30%;
    height: 100px;
}

.jp-cmdbindingcontainer {
    order: 2; 
    flex-basis: 50%; 
    width: 50%;
    height: 100px;
}

.jp-cmdbinding {
    padding-right: 10px;
}

.jp-cmdsourcecontainer {
    order: 3; 
    flex-basis: 10%; 
    width: 10%;
    height: 100px;
}

p {
    font: 'Moneserrat';
    font-weight: 400;
    size: 14px;
    color: #616161;
}

input {
    height: 10px;
    padding: 2px;
    background: white;
}