.tag {
  height: 32px;
  width: fit-content;
  border-radius: 35px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 12px;
  font-size: var(--jp-ui-font-size-1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: calc(100% - 25px);
}

.unapplied-tag {
  background-color: var(--jp-layout-color1);
  border: 1px solid var(--jp-ui-font-color2);
  color: var(--jp-ui-font-color2);
}

.applied-tag {
  background-color: var(--jp-layout-color2);
  border: 1px solid var(--jp-ui-font-color1);
  color: var(--jp-ui-font-color1);
}

.add-tag {
  white-space: nowrap;
  overflow: hidden;
  border: none;
  outline: none;
  resize: horizontal;
  font-size: var(--jp-ui-font-size-1);
  color: var(--jp-ui-font-color2);
  background-color: var(--jp-layout-color1);
}

.tag-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-icon {
  display: inline-block;
  height: 18px;
  min-width: 18px;
  background-image: url('../static/check-24px.svg');
  background-size: 18px;
  margin-left: 8px;
}

.add-icon {
  display: inline-block;
  height: 18px;
  min-width: 15px;
  background-image: url('../static/add-24px.svg');
  background-size: 18px;
  margin-left: 8px;
  fill: var(--jp-ui-font-color2);
}

.tag-hover {
  background-color: var(--jp-layout-color2);
}
