.jp-DocumentSearch-input {
  border: none;
  outline: none;
  font-size: 16px;
}

.jp-DocumentSearch-overlay {
  position: absolute;
  background-color: var(--jp-layout-color2);
  border: var(--jp-border-width) solid var(--jp-border-color0);
  border-radius: var(--jp-border-radius);
  top: 0;
  right: 0;
  z-index: 5;
  min-width: 340px;
  padding: 3px;
}

.jp-DocumentSearch-overlay * {
  color: var(--jp-ui-font-color0);
}

.jp-DocumentSearch-input-wrapper {
  border: var(--jp-border-width) solid var(--jp-border-color0);
  border-radius: var(--jp-border-radius);
  display: inline-block;
  background-color: var(--jp-layout-color0);
}

.jp-DocumentSearch-input-wrapper * {
  background-color: var(--jp-layout-color0);
}

.jp-DocumentSearch-input-wrapper button {
  outline: 0;
  width: 25px;
  height: 20px;
}

.jp-DocumentSearch-input-button:before {
  display: block;
  padding-top: 100%;
}

.jp-DocumentSearch-input-button-off {
  border: none;
}

.jp-DocumentSearch-input-button-off:hover {
  border: 1px solid var(--jp-inverse-layout-color3);
}

.jp-DocumentSearch-input-button-on {
  border: 1px solid var(--jp-inverse-layout-color0);
}

.jp-DocumentSearch-index-counter {
  padding-left: 5px;
  user-select: none;
}

.jp-DocumentSearch-up-down-wrapper {
  display: inline-block;
}

.jp-DocumentSearch-up-down-button-class {
  outline: 0;
  border: none;
  width: 25px;
  height: 20px;
  background: none;
}

.jp-DocumentSearch-close-button {
  display: inline-block;
  margin-left: 4px;
  background-size: 16px;
  height: 16px;
  width: 16px;
  background-image: var(--jp-icon-close);
  background-position: center;
  background-repeat: no-repeat;
}

.jp-DocumentSearch-close-button:hover {
  background-size: 16px;
  background-image: var(--jp-icon-close-circle);
}
