[bumpversion]
current_version = 1.0.0a3
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)((?P<release>\S+)(?P<build>\d+))?
serialize =
  {major}.{minor}.{patch}.{release}{build}
  {major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = final
values =
    a
    rc
    final

[bumpversion:part:build]

[bumpversion:file:jupyterlab/_version.py]

[bumpversion:file:dev_mode/package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"
