node_modules
**/build
**/lib
**/node_modules
**/mock_packages
**/static
**/typings
**/schemas
**/themes
coverage
*.map.js
*.bundle.js

dev_mode/index.js
!dev_mode/static/index.out.js
dev_mode/workspaces
docs/_build
docs/api
docs/build
examples/chrome-example-test.js
jupyterlab/chrome-test.js
jupyterlab/geckodriver
packages/extensionmanager-extension/examples/listings
packages/ui-components/src/icon/iconimports.ts
jupyterlab/staging/yarn.js
jupyterlab/staging/index.js

# jetbrains IDE stuff
.idea/

# ms IDE stuff
.history/
.vscode/
