{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}
