node_modules
**/build
**/lib
**/node_modules
**/mock_packages
**/static
**/typings
**/schemas
**/themes
coverage
*.map.js
*.bundle.js

dev_mode/index.js
!dev_mode/static/index.out.js
dev_mode/workspaces
docs/_build
docs/api
docs/build
docs/source/api
examples/example.spec.ts
examples/federated/core_package/index.template.js
examples/federated/core_package/index.js
examples/federated/labextensions
galata/playwright-report
jupyterlab/chrome-test.js
jupyterlab/geckodriver
jupyterlab/staging/yarn.js
jupyterlab/staging/index.js
jupyterlab/staging/webpack.config.js
packages/codemirror/test/foo*.js
packages/extensionmanager-extension/examples/listings
packages/nbconvert-css/raw.js
packages/services/dist
packages/ui-components/src/icon/iconimports.ts

#TypeDoc

# jetbrains IDE stuff
.idea/

# ms IDE stuff
.history/
.vscode/

# generated LSP interfaces
packages/lsp/src/_*
packages/lsp/schema.js

# pixi environments
.pixi
