# project files
coverage/

dev_mode/listings
dev_mode/schemas
dev_mode/static
dev_mode/themes
dev_mode/workspaces
dev_mode/stats.json

docs/_build
docs/api
**/docs/source/_build

examples/app/build
examples/app/themes
examples/app/schemas

junit.xml

jupyterlab/geckodriver
jupyterlab/static
jupyterlab/schemas
jupyterlab/themes
jupyterlab/imports.css

packages/nbconvert-css/style/
packages/services/examples/node/config.json
packages/theme-*/static

tests/**/coverage
tests/**/.cache-loader

# javascript/typescript
lib
node_modules

*.tsbuildinfo
lerna-debug.log
yarn-error.log
storybook-static

# python
.cache
*.py[co]
.pytest_cache
__pycache__
*.egg-info
.ipynb_checkpoints

build
dist

MANIFEST

# misc
*~
*.bak
*.map
*.swp
.DS_Store
.log/
\#*#
.#*

# jetbrains IDE stuff
*.iml
.idea/

# ms IDE stuff
*.code-workspace
.history
.vscode
