MANIFEST
build
dist
lib
jupyterlab/static
jupyterlab/schemas
jupyterlab/themes
jupyterlab/geckodriver
dev_mode/schemas
dev_mode/static
dev_mode/themes
dev_mode/workspaces
dev_mode/stats.json

packages/theme-*/static
node_modules
.cache
.vscode
*.py[co]
.pytest_cache
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.DS_Store
\#*#
.#*

*.swp
*.map
.idea/

tests/**/coverage
tests/**/.cache-loader
docs/_build
docs/api
packages/services/examples/node/config.json
examples/app/build
examples/app/themes
examples/app/schemas

lerna-debug.log
