[submodule "/Users/cameronoelsen/Documents/jupyterlab/packages/jupyterlab-google-drive"]
	path = /Users/cameronoelsen/Documents/jupyterlab/packages/jupyterlab-google-drive
	url = https://github.com/jupyterlab/jupyterlab-google-drive.git
