node_modules
**/node_modules
**/lib
**/build
**/static
jupyterlab/schemas
jupyterlab/themes
jupyterlab/geckodriver
jupyterlab/staging/yarn.js
jupyterlab/staging/index.js
dev_mode/index.js
dev_mode/schemas
dev_mode/static
dev_mode/themes
dev_mode/workspaces
examples/app/build
examples/app/themes
examples/app/schemas
tests/**/coverage
docs/_build
docs/api
**/package.json
.eggs
