recursive-include jupyterlab/build *

include jupyterlab/lab.html
include package.json
include LICENSE
include CONTRIBUTING.md
include README.md
include package.json
include setupbase.py

include jupyterlab/package.json
include jupyterlab/webpack.config.js
include jupyterlab/index.template.js

prune jupyterlab/tests
