recursive-include jupyterlab/build *

include package.json
include LICENSE
include CONTRIBUTING.md
include README.md
include package.json
include setupbase.py

include jupyterlab/package.app.json
include jupyterlab/webpack.config.js
include jupyterlab/index.app.js
include jupyterlab/released_packages.txt

prune jupyterlab/tests
