@font-face /* 0 */ {
  font-family: MJXZERO;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Zero.woff')
    format('woff');
}

@font-face /* 1 */ {
  font-family: MJXTEX;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Main-Regular.woff')
    format('woff');
}

@font-face /* 2 */ {
  font-family: MJXTEX-B;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Main-Bold.woff')
    format('woff');
}

@font-face /* 3 */ {
  font-family: MJXTEX-MI;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Main-Italic.woff')
    format('woff');
}

@font-face /* 4 */ {
  font-family: MJXTEX-I;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Math-Italic.woff')
    format('woff');
}

@font-face /* 5 */ {
  font-family: MJXTEX-BI;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Math-BoldItalic.woff')
    format('woff');
}

@font-face /* 6 */ {
  font-family: MJXTEX-S1;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Size1-Regular.woff')
    format('woff');
}

@font-face /* 7 */ {
  font-family: MJXTEX-S2;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Size2-Regular.woff')
    format('woff');
}

@font-face /* 8 */ {
  font-family: MJXTEX-S3;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Size3-Regular.woff')
    format('woff');
}

@font-face /* 9 */ {
  font-family: MJXTEX-S4;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Size4-Regular.woff')
    format('woff');
}

@font-face /* 10 */ {
  font-family: MJXTEX-A;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_AMS-Regular.woff')
    format('woff');
}

@font-face /* 11 */ {
  font-family: MJXTEX-C;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Caligraphic-Regular.woff')
    format('woff');
}

@font-face /* 12 */ {
  font-family: MJXTEX-C-B;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Caligraphic-Bold.woff')
    format('woff');
}

@font-face /* 13 */ {
  font-family: MJXTEX-FR;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Fraktur-Regular.woff')
    format('woff');
}

@font-face /* 14 */ {
  font-family: MJXTEX-FR-B;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Fraktur-Bold.woff')
    format('woff');
}

@font-face /* 15 */ {
  font-family: MJXTEX-SS;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_SansSerif-Regular.woff')
    format('woff');
}

@font-face /* 16 */ {
  font-family: MJXTEX-SS-B;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_SansSerif-Bold.woff')
    format('woff');
}

@font-face /* 17 */ {
  font-family: MJXTEX-SS-I;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_SansSerif-Italic.woff')
    format('woff');
}

@font-face /* 18 */ {
  font-family: MJXTEX-SC;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Script-Regular.woff')
    format('woff');
}

@font-face /* 19 */ {
  font-family: MJXTEX-T;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Typewriter-Regular.woff')
    format('woff');
}

@font-face /* 20 */ {
  font-family: MJXTEX-V;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Vector-Regular.woff')
    format('woff');
}

@font-face /* 21 */ {
  font-family: MJXTEX-VB;
  src: url('~mathjax3/mathjax3-ts/output/chtml/fonts/tex-woff-v2/MathJax_Vector-Bold.woff')
    format('woff');
}
