@font-face /* 0 */ {
  font-family: MJXZERO;
  src: url("~mathjax3/mathjax2/css/otf/MathJax_Zero.otf") format("opentype");
}

@font-face /* 1 */ {
  font-family: MJXTEX;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Main-Regular.woff") format("woff");
}

@font-face /* 2 */ {
  font-family: MJXTEX-B;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Main-Bold.woff") format("woff");
}

@font-face /* 3 */ {
  font-family: MJXTEX-MI;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Main-Italic.woff") format("woff");
}

@font-face /* 4 */ {
  font-family: MJXTEX-I;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Math-Italic.woff") format("woff");
}

@font-face /* 5 */ {
  font-family: MJXTEX-BI;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Math-BoldItalic.woff") format("woff");
}

@font-face /* 6 */ {
  font-family: MJXTEX-S1;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Size1-Regular.woff") format("woff");
}

@font-face /* 7 */ {
  font-family: MJXTEX-S2;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Size2-Regular.woff") format("woff");
}

@font-face /* 8 */ {
  font-family: MJXTEX-S3;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Size3-Regular.woff") format("woff");
}

@font-face /* 9 */ {
  font-family: MJXTEX-S4;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Size4-Regular.woff") format("woff");
}

@font-face /* 10 */ {
  font-family: MJXTEX-A;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_AMS-Regular.woff") format("woff");
}

@font-face /* 11 */ {
  font-family: MJXTEX-C;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Caligraphic-Regular.woff") format("woff");
}

@font-face /* 12 */ {
  font-family: MJXTEX-C-B;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Caligraphic-Bold.woff") format("woff");
}

@font-face /* 13 */ {
  font-family: MJXTEX-FR;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Fraktur-Regular.woff") format("woff");
}

@font-face /* 14 */ {
  font-family: MJXTEX-FR-B;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Fraktur-Bold.woff") format("woff");
}

@font-face /* 15 */ {
  font-family: MJXTEX-SS;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_SansSerif-Regular.woff") format("woff");
}

@font-face /* 16 */ {
  font-family: MJXTEX-SS-B;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_SansSerif-Bold.woff") format("woff");
}

@font-face /* 17 */ {
  font-family: MJXTEX-SS-I;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_SansSerif-Italic.woff") format("woff");
}

@font-face /* 18 */ {
  font-family: MJXTEX-SC;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Script-Regular.woff") format("woff");
}

@font-face /* 19 */ {
  font-family: MJXTEX-T;
  src: url("~mathjax3/mathjax2/css/woff/MathJax_Typewriter-Regular.woff") format("woff");
}