@import url('~@phosphor/widgets/style/index.css');

.jp-status-bar {
    --jp-statusbar-margin: 8px;

    border-top: var(--jp-border-width) solid var(--jp-toolbar-border-color);
    background: var(--jp-toolbar-background);
    min-height: var(--jp-private-menubar-height);
    min-width: 400px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jp-status-bar-side {
    display: flex;
    align-items: center;
}

.jp-status-bar-left {
    flex-direction: row;
}

.jp-status-bar-right {
    flex-direction: row-reverse;
}

.jp-status-bar-item {
    margin: 0 var(--jp-statusbar-margin);
    max-height: 28px;
}

.edit-item {
    background-image: url('./images/edit-icon.svg');
}

.command-item {
    background-image: url('./images/command-icon.svg');
}

.icon-item {
    background-repeat: no-repeat;
    background-size: 28px;
    background-position-x: 0px;
    background-position-y: 5px;
    padding-top: 1px;
    min-height: 28px;
    min-width: 35px;
    display: inline-block;
}

.text-item {
    display: inline-block;
    padding-top: 1px;
    min-height: 28px;
    position: relative;
    top: 25%;
    transform: translateY(-25%);
}
.kernel-item {
    background-image: url('./images/kernel-icon.svg');
}

.terminal-item {
    background-image: url('./images/terminal-icon.svg');
}

.not-trusted-item {
    background-image: url('./images/not-trusted-icon.svg');
}

.trusted-item {
    background-image: url('./images/trusted-icon.svg');
}