/* Input area */
.jp-input-container {
  display: inline-block;
  margin-left: 30px;
}

.jp-input-plus {
  font-size: var(--jp-ui-font-size2);
  color: var(--jp-brand-color2);
  transform: rotate(270deg);
  line-height: var(--jp-code-line-height);
}

.jp-input-plus:hover {
  color: var(--jp-brand-color0);
}

.jp-input-plus:focus {
  color: var(--jp-brand-color0);
}

@keyframes slideInFromLeft {
  from {
    width: 0%;
    left:0;
  }
  to {
    width:100%;
    left: 0;
  }
}

@keyframes slideCloseToLeft {
  from {
    width: 100%;
    left: 0;
  }
  to {
    width: 0%;
    left: 0;
  }
}

.jp-input {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  border-width: var(--jp-border-width);
  border-color: var(--jp-border-color3);
  border-style: solid;
  background-color: var(--jp-layout-color0);
  margin-left: 10px;
  padding-left:10px;
  width: 120px;
  height: 20px;
  display: block;
}

.jp-input-box {
  display: inline-flex;  
}

/* .jp-input-hidden {
  display: none;
  opacity: 0;
  animation: 0.5s ease-out 0s 1 slideCloseToLeft, opacity 2s linear;
}
.jp-input-box-hidden {
  visibility: hidden;
  opacity: 0;
  animation: 0.5s ease-out 0s 1 slideCloseToLeft, opacity 2s linear;
} */

.jp-input::placeholder {
  color: (--jp-content-font-color3);
}

.jp-input-unavailable {
  border-color: var(--jp-error-color2);
}

.jp-input:focus {
  outline: none;
  color: var(--jp-content-font-color1);
}

.jp-input-warning {
  display: none;
  position: absolute;
  color: var(--jp-error-color2);
  font-size: var(--jp-ui-font-size0);
  text-align: left;
  margin-left: 8px;
}

.jp-submit {
  background: var(--jp-brand-color1);
  border-radius: 0px;
  color: var(--jp-layout-color0);
  font-family: var(--jp-ui-font-family);
  display: block;
  height: 24px;
  background-image: var( --jp-icon-checkmark);
  background-repeat: no-repeat;
  width: 26px;
}

.jp-submit:disabled {
  /* background-image: var( --jp-icon-checkmark-disabled); */
  /* background-image: var(--md-priority_high); */
  background: var(--jp-error-color1);
  border: none;
}

.jp-submit:focus {
  outline: none; 
}