/* Main Shortcut List */
.jp-shortcutlist {
    margin: 0 0 40px 0;
    width: 100%;
    display: table;
    border-collapse: collapse;
  }
  
/* Column titles and sort button div */
  .title-div {
    display: flex;
}
  
/* Sort button */
.sort {
    font-weight: regular;
    transform: rotate(180deg);
    padding-left: 10px;
    color: var(--jp-ui-font-color2);
    border: none;
}
  
.sort:focus {
    outline: none;
}
  
.sort:active {
    font-weight: 600;
    color: var(--jp-ui-font-color0);
}
  
.sort:hover {
    font-weight: 600;
    color: var(--jp-ui-font-color0);
}
  
.selected-sort {
    font-weight: bold;
    color: var(--jp-ui-font-color0)
}

.table-header {
    font-weight: var(--jp-content-heading-font-weight);
    font-size: var(--jp-ui-font-size2);
}

.row {
    display: table-row;
    border-bottom: solid;
    border-bottom-color: var(--jp-border-color1);
    border-bottom-width: var(--jp-border-width);
    max-height: 40px;
  }