/* .jp-shortcut {    
    padding-top: 8px;
    background-size: 16px;
    background-image: var(--jp-icon-close);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--jp-layout-color0)
    margin: 4px 8px 0 4px;
    height: 16px;
    width: 16px;
    border: none;
    opacity: 0.5;
} */
  
/* .jp-shortcut:hover {
    border-width: var(--jp-border-width) + 0.05;
}
    
.jp-shortcut:active {
    border-width: var(--jp-border-width) + 0.05;
    border-color: var(--jp-border-color1);
    color: var(--jp-layout-color3);
}
  
.jp-shortcut:focus {
    outline: none;
} */