/* Top Navigation */
.jp-shortcuttopnav {
    display: flex;
    font-size: var(--jp-ui-font-size2);
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 60px;
  }
  
  .advanced-options {
    display: grid;
    grid-row-gap: 6px;
    width: 20%;
  }
  
  /* Top Navigation links */
  .jp-link {
    color: var(--jp-brand-color2);
    text-decoration: none;
    display: block;
  }
  
  .jp-link:hover {
    text-decoration: underline;
  }
  
  .jp-link:active {
    color: var(--jp-brand-color0);
  }
  
  .jp-link-left {
    width: 30%;
  }
  
  .jp-search {
    border-width: var(--jp-border-width);
    border-color: var(--jp-layout-color2);
    border-radius: var(--jp-border-radius);
    height: 20px;
    width: 50%;
    font-size: var(--jp-ui-font-size1);
    padding: 3px;
    padding-left: 6px;
    text-indent: 16px;
    background-color: var(--jp-layout-color1);
    background-image: var(--jp-icon-search);
    background-repeat: no-repeat;
  }
  
  .jp-search:focus{
    outline:none;
  }
  
  .jp-searchcontainer {
    width: 50%;
  }