.jp-Cell.jp-selected-cell {
  border-color: #66BB6A;
  border-left-width: 1px;
  padding-left: 10px;
  background: linear-gradient(to right, #66BB6A -40px, #66BB6A 5px, transparent 5px, transparent 100%);
}


.jp-Cell {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
