.kernel-item {
    background-image: url('./images/kernel-icon.svg');
}

.terminal-item {
    background-image: url('./images/terminal-icon.svg');
}

.not-trusted-item {
    background-image: url('./images/not-trusted-icon.svg');
}

.trusted-item {
    background-image: url('./images/trusted-icon.svg');
}

.lineForm-enter-icon {
    background-image: url('./images/line-form.svg');
}

.status-bar-icon {
    background-image: url('./images/status-bar-icon.svg');
}