:root [data-jp-theme-light='true'] {
  --jp-icon-output-console: url('./list-icon-light.svg');
}

:root [data-jp-theme-light='false'] {
  --jp-icon-output-console: url('./list-icon-dark.svg');
}

.jp-LogConsoleIcon {
  background-image: var(--jp-icon-output-console);
}

@keyframes flash {
  0% {
    background-color: var(--jp-brand-color1);
  }
  50% {
    color: unset;
    background-color: unset;
  }
  100% {
    background-color: var(--jp-brand-color1);
  }
}

.jp-LogConsoleStatusItem.hilite {
  animation: flash 300ms both;
}

.jp-LogConsoleStatusItem.hilited {
  background-color: var(--jp-brand-color1);
}

/* Need to be very specific to override the typestyle styles on status bar components */
.jp-LogConsoleStatusItem.hilited,
.jp-LogConsoleStatusItem.hilited div,
.jp-LogConsoleStatusItem.hilited div span {
  color: white;
}

.jp-LogConsole .clear-icon {
  transform: rotate(90deg);
  margin-top: -1px;
}
