/**
  Distributed under the terms of the Modified BSD License.
*/

/* Add CSS variables to :root */
:root {
  --jp-icon-html5: url('./html5-icon.svg');
}

/* Document styles */
.jp-MimeDocument .jp-RenderedIFrame {
  overflow: hidden;
}

/* Output styles */
.jp-OutputArea .jp-RenderedIFrame {
  min-height: 360px;
}

/* Document icon */
.jp-HTMLIcon {
  background-image: var(--jp-icon-html5);
}

.jp-RenderedIFrame {
  min-width: 100px;
  min-height: 100px;
  width: 100%;
  height: 100%;
}


.jp-RenderedIFrame > iframe {
  border: none;
}


/*
When drag events occur, `p-mod-override-cursor` is added to the body.
Because iframes steal all cursor events, the following two rules are necessary
to suppress pointer events while resize drags are occuring. There may be a
better solution to this problem.
*/
body.p-mod-override-cursor .jp-RenderedIFrame {
  position: relative;
}

body.p-mod-override-cursor .jp-RenderedIFrame:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}
