.lm-AccordionPanel .jp-AccordionPanel-title {
  box-sizing: border-box;
  background: #e5e5e500;
  border-bottom: none;
  font: 12px Helvetica, Arial, sans-serif;
  min-height: 22px;
  max-height: 22px;
  min-width: 35px;
  line-height: 25px;
  margin: 0px;
  display: flex;
  background-color: var(--jp-layout-color2);
  border-bottom: solid var(--jp-border-width) var(--jp-border-color1);
  border-top: solid var(--jp-border-width) var(--jp-border-color1);
  box-shadow: var(--jp-toolbar-box-shadow);
}

.jp-AccordionPanel-title .lm-AccordionPanel-titleCollapser {
  transform: rotate(0deg);
  margin-top: 3px;
  height: 16px;
}
.jp-AccordionPanel-title.jp-DebuggerPanel-expanded .lm-AccordionPanel-titleCollapser {
  transform: rotate(-90deg);
}

.lm-AccordionPanel[data-orientation='horizontal'] > .jp-AccordionPanel-title {
  /* Title is rotated for horizontal accordion panel using CSS */
  display: block;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%);
}

.jp-AccordionPanel-title .lm-AccordionPanel-titleLabel{
  user-select: none;
}