#about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%;
}

#about .section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}
#about .sectioncenter {
  display: table-cell;
  vertical-align: middle;
}

#about .container {
  position: relative;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

#about .column,
#about .columns {
  width: 100%;
  margin: 0 auto;
  float: none;
  box-sizing: border-box; 
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  #about .container {
    width: 85%;
    padding: 0; 
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  #about .container {
    width: 80%; 
  }
  #about .column,
  #about .columns {
    margin-left: 4%; 
  }
  #about .column:first-child,
  #about .columns:first-child {
    margin-left: 0; 
  }


  #about .one-half.column {
    width: 48%;
  }
}

#about * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#about .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#about .col-1 {
  width: 8.33%
}

#about .col-2 {
  width: 16.66%;
}

#about .col-3 {
  width: 25%;
}

#about .col-4 {
  width: 33.33%;
}

#about .col-5 {
  width: 41.66%;
}

#about .col-6 {
  width: 50%;
}

#about .col-7 {
  width: 58.33%;
}

#about .col-8 {
  width: 66.66%;
}

#about .col-9 {
  width: 75%;
}

#about .col-10 {
  width: 83.33%;
}

#about .col-11 {
  width: 91.66%;
}

#about .col-12 {
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
}

#about .header {
  font-size: 26px;
  font-weight: 300;
  color: #333333;
  padding-left: 10px;
  padding-right: 10px;
}

#about .desc-one {
  font-size: 13px;
  color: #555555;
  line-height: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

#about .desc-two {
  font-size: 13px;
  color: #555555;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 0px;
}

#about .desc-two-header {
  color: #333333;
  font-size: 20px;
  margin-bottom: 9px;
  margin-top: 17px;
}

#about .row img {
  margin-top: 20px
}

#about .header.content img {
  vertical-align: middle;
  padding-right: 30px;
}

#about .header.content {
  vertical-align: middle;
  line-height: 20px;
}

#about .content-img {
  padding: 40px 0 35px 0;
  height: 40vh;
  max-height: 453px;
}

#about .content-desc {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  max-width: 550px;
  margin: 0 auto;
  float: none;
  color: #555555;
  line-height: 20px;
  padding-bottom: 8px;
}

#about .content-desc ul {
  text-align: left;
  margin-left: 92px;
  float: none;
}

#about .desc-two-header {
  padding: 30px 0 25px 0;
}

#about .desc-one p {
  max-width: 740px;
  margin: 0 auto;
  float: none;
}

#about .column .desc-two-header a {
  color: #555555;
  text-decoration: none;
}

#about .desc-two-header:hover a{
  color: #e46e2e;
}

#about .nav-button {
  display: block;
  position: relative;
  margin: auto;
  width: 28px;
  height: 17px;
  overflow: hidden;
  margin-top: 50px;
  background-image: url(images/next-arrow-sprite.svg);
  background-size: 100%;
  background-position: top;
  -webkit-animation: navbtn-anim ease 4s infinite;
  animation: navbtn-anim ease 4s infinite;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#about .nav-button:hover {
  background-position: bottom;
}

@keyframes navbtn-anim {
  0% { transform: translate(0px,0px); }
  50% { transform: translate(0px,20px); }
  100% { transform: translate(0px,0px); }
}

@-webkit-keyframes navbtn-anim {
  0% { transform: translate(0px,0px); }
  50% { transform: translate(0px,20px); }
  100% { transform: translate(0px,0px); }
}

#about a, #about a:visited {
  font-weight: 500;
  color: #e46e2e;
  text-decoration: none;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

#about a:hover, #about a:active {
  color: #ad4b16;
  text-decoration: underline;
}


/* * * IMAGES * * */

#about .jp-img {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#about .jp-About-logo {
  background-image: url(images/logo.svg);
  width: 234px;
  height: 51px;
  margin: 20px auto 0 auto;
}

#about .jp-About-hero-mainarea {
  display: inline-block;
  background-image: url(images/main-area.svg);
  width: 40px;
  height: 40px;
  margin: 0 30px;
  vertical-align: middle;
}

#about .jp-About-hero-command {
  display: inline-block;
  background-image: url(images/command.svg);
  width: 40px;
  height: 40px;
  margin: 0 30px;
  vertical-align: middle;
}

#about .jp-About-hero-filebrowser {
  display: inline-block;
  background-image: url(images/file-browser.svg);
  width: 60px;
  height: 40px;
  margin: 0 30px;
  vertical-align: middle;
}

#about .jp-About-hero-notebook {
  display: inline-block;
  background-image: url(images/notebook.svg);
  width: 31px;
  height: 40px;
  margin: 0 30px;
  vertical-align: middle;
}

/*#about .jp-About-mainarea-cimg {
  display: block;
  content: url(images/mainareascreen.gif);
  margin: 40px 0 35px 0;
  height: 38vh;
  max-height: 453px;
}*/