/************************************************************
                      Main Panel
*************************************************************/

.jp-RTCPanel {
  min-width: var(--jp-sidebar-min-width) !important;
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  font-size: var(--jp-ui-font-size1);
}

/************************************************************
                      User Info Panel
*************************************************************/
.jp-UserInfoPanel {
  display: flex;
  flex-direction: column;
  max-height: 140px;
  padding-top: 3px;
}

.jp-UserInfo-Container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jp-UserInfo-Icon {
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
}

.jp-UserInfo-Icon span {
  margin: auto;
  text-align: center;
  font-size: 25px;
  fill: var(--jp-ui-font-color1);
  color: var(--jp-ui-font-color1);
}

.jp-UserInfo-Info {
  margin: 20px;
  display: inline-flex;
  flex-direction: column;
}

.jp-UserInfo-Info label {
  font-weight: bold;
  fill: var(--jp-ui-font-color1);
  color: var(--jp-ui-font-color1);
}

.jp-UserInfo-Info input {
  text-decoration: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: var(--jp-ui-font-color1);
  border-width: 0.5px;
  background-color: transparent;
  fill: var(--jp-ui-font-color1);
  color: var(--jp-ui-font-color1);
}

/************************************************************
                Collaborators Info Panel
*************************************************************/

.jp-CollaboratorsList {
  flex-direction: column;
  display: flex;
  z-index: 1000;
}

.jp-Collaborator {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: var(--jp-ui-font-size0);
  fill: var(--jp-ui-font-color1);
  color: var(--jp-ui-font-color1);
}

.jp-ClickableCollaborator:hover {
  cursor: pointer;
  background-color: var(--jp-layout-color2);
  fill: var(--jp-ui-font-color0);
  color: var(--jp-ui-font-color0);
}

.jp-Collaborator > span {
  padding-left: 7px;
}

.jp-CollaboratorIcon {
  border-radius: 100%;
  padding: 2px;
  width: 24px;
  height: 24px;
  display: flex;
}

.jp-CollaboratorIcon > span {
  text-align: center;
  margin: auto;
  font-size: 12px;
  fill: var(--jp-ui-font-color1);
  color: var(--jp-ui-font-color1);
}

.jp-CollaboratorCurrent {
  position: absolute;
  right: 0;
}

.jp-RTCPanel .lm-AccordionPanel-title {
  box-sizing: border-box;
  background: #e5e5e500;
  font: 12px Helvetica, Arial, sans-serif;
  min-height: 22px;
  max-height: 22px;
  min-width: 35px;
  line-height: 25px;
  margin: 0;
  display: flex;
  background-color: var(--jp-layout-color2);
  border-bottom: solid var(--jp-border-width) var(--jp-border-color1);
  border-top: solid var(--jp-border-width) var(--jp-border-color1);
  box-shadow: var(--jp-toolbar-box-shadow);
}
