/*
  Main widget layout and styling
*/

.jp-extensionmanager-view {
  padding-bottom: 0px;
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  display: flex;
  flex-direction: column;
  font-size: var(--jp-ui-font-size1);
}

.jp-extensionmanager-content {
  overflow: auto;
}

/*
  List view layout and styling
*/

.jp-extensionmanager-listview-wrapper {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.jp-extensionmanager-view header {
  flex: 0 0 auto;
  margin: 4px 0px;
  padding: 12px 0 4px 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  letter-spacing: 1px;
  font-size: var(--jp-ui-font-size0);
}

.jp-extensionmanager-listview {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 0;
}

/*
  Error messages
*/
.jp-extensionmanager-view .jp-extensionmanager-error pre {
  white-space: pre-wrap;
}

/*
  Search bar layout and styling
*/

.jp-extensionmanager-search-bar {
  padding: 8px;
  background-color: var(--jp-layout-color2);
  border-bottom: 1px solid var(--jp-border-color1);
  box-shadow: var(--jp-toolbar-box-shadow);
  z-index: 2;
  flex: 0 0 auto;
}

.jp-extensionmanager-input {
  background: transparent;
  width: calc(100% - 18px);
  float: left;
  border: none;
  outline: none;
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color0);
  line-height: var(--jp-private-commandpalette-search-height);
}

.jp-extensionmanager-search-wrapper {
  overflow: overlay;
  padding: 0px 8px;
  border: 1px solid var(--jp-border-color0);
  background-color: var(--jp-input-active-background);
  height: 30px;
}

.jp-extensionmanager-search-wrapper::after {
  content: ' ';
  color: var(--jp-ui-inverse-font-color1);
  background-color: var(--jp-brand-color1);
  position: absolute;
  top: 8px;
  right: 8px;
  height: 32px;
  width: 12px;
  padding: 0px 12px;
  background-image: var(--jp-icon-search);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.jp-extensionmanager-view.p-mod-focused .jp-extensionmanager-search-wrapper {
  border: var(--jp-border-width) solid var(--jp-brand-color1);
  box-shadow: inset 0 0 4px var(--jp-brand-color2);
}

/*
  List view pagination styling
*/

.jp-extensionmanager-view ul.pagination {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
}

.jp-extensionmanager-view .pagination li {
  display: inline-block;
}

.jp-extensionmanager-view .pagination .break a {
  cursor: default;
}

.jp-extensionmanager-pagination {
  display: flex;
  justify-content: center;
}

.jp-extensionmanager-view header {
  display: flex;
  justify-content: space-between;
}

.jp-extensionmanager-view header button.jp-extensionmanager-refresh {
  border: 1px solid transparent;
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
}

.jp-extensionmanager-view header button.jp-extensionmanager-refresh:hover {
  border: 1px solid var(--jp-brand-color1);
}

/*
  Entry buttons visibility
*/

.jp-extensionmanager-entry .jp-extensionmanager-install,
.jp-extensionmanager-entry.jp-extensionmanager-entry-update
  .jp-extensionmanager-update,
.jp-extensionmanager-entry.jp-extensionmanager-entry-installed
  .jp-extensionmanager-uninstall {
  display: inline-block;
}

.jp-extensionmanager-entry .jp-extensionmanager-update,
.jp-extensionmanager-entry .jp-extensionmanager-uninstall,
.jp-extensionmanager-entry.jp-extensionmanager-entry-installed
  .jp-extensionmanager-install {
  display: none;
}

.jp-extensionmanager-entry .jp-extensionmanager-enable,
.jp-extensionmanager-entry .jp-extensionmanager-disable,
.jp-extensionmanager-entry.jp-extensionmanager-entry-installed.jp-extensionmanager-entry-enabled
  .jp-extensionmanager-enable {
  display: none;
}

.jp-extensionmanager-entry.jp-extensionmanager-entry-installed
  .jp-extensionmanager-enable,
.jp-extensionmanager-entry.jp-extensionmanager-entry-installed.jp-extensionmanager-entry-enabled
  .jp-extensionmanager-disable {
  display: inline-block;
}

/*
  Entry layout and styling
*/

.jp-extensionmanager-entry {
  padding: 4px 12px;
  border-bottom: solid var(--jp-border-width) var(--jp-border-color2);
}

.jp-extensionmanager-entry-title {
  display: flex;
  flex-direction: row;
}

.jp-extensionmanager-entry-jupyter-org {
  background-image: var(--jp-image-jupyter);
  background-size: 1em;
  background-repeat: no-repeat;
  width: 1em;
  display: none;
  position: relative;
  top: 3px;
}

.jp-extensionmanager-entry.jp-extensionmanager-entry-mod-whitelisted
  .jp-extensionmanager-entry-jupyter-org {
  display: inline;
}

/* Precedence order update/error/warning matters! */
.jp-extensionmanager-entry.jp-extensionmanager-entry-update {
  border-left: solid 8px var(--jp-brand-color2);
  padding-left: 4px;
}

.jp-extensionmanager-entry.jp-extensionmanager-entry-error {
  border-left: solid 8px var(--jp-error-color2);
  padding-left: 4px;
}

.jp-extensionmanager-entry.jp-extensionmanager-entry-warning {
}

.jp-extensionmanager-entry-name {
  font-size: var(--jp-ui-font-size1);
  font-weight: 600;
  padding: 0 8px 0 0;
  margin-bottom: 3px;
}
.jp-extensionmanager-entry-description {
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color2);
  font-weight: 400;
}

.jp-extensionmanager-loader,
.jp-extensionmanager-error,
.jp-extensionmanager-listview-message {
  padding: 4px 12px;
}

.jp-extensionmanager-listview-message {
  font-size: var(--jp-ui-font-size1);
}

.jp-extensionmanager-entry-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*
  Pending entry progress indicator
*/

.jp-extensionmanager-pending {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--jp-layout-color1);
}

.jp-extensionmanager-pending.jp-mod-hasPending:before {
  display: block;
  position: absolute;
  content: '';
  left: -200px;
  width: 200px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--jp-brand-color1);
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}

/*
  Entry buttons layout and styling
*/

.jp-extensionmanager-entry-buttons {
  display: flex;
  flex-direction: column;
}

.jp-extensionmanager-entry button {
  border: solid var(--jp-border-width) var(--jp-border-color2);
  font-size: var(--jp-ui-font-size0);
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 0px;
  margin-left: 3px;
  color: var(--jp-ui-font-color1);
  background-color: var(--jp-layout-color2);
}

.jp-extensionmanager-entry button.jp-extensionmanager-uninstall:hover {
  background-color: var(--jp-error-color2);
}

.jp-extensionmanager-entry button.jp-extensionmanager-disable:hover {
  background-color: var(--jp-error-color3);
}

.jp-extensionmanager-entry button.jp-extensionmanager-install:hover {
  background-color: var(--jp-success-color2);
}

.jp-extensionmanager-entry button.jp-extensionmanager-enable:hover {
  background-color: var(--jp-success-color3);
}

.jp-extensionmanager-entry button.jp-extensionmanager-update:hover {
  background-color: var(--jp-brand-color3);
}

/*
  Rebuild prompt dialog
*/

.jp-extensionmanager-buildprompt {
  background-color: var(--jp-brand-color1);
  color: var(--jp-ui-inverse-font-color1);
  padding: 4px 8px;
  font-size: var(--jp-ui-font-size1);
  font-weight: 400;
}

.jp-extensionmanager-buildprompt button {
  border: none;
  background-color: transparent;
  color: var(--jp-ui-inverse-font-color1);
  font-size: var(--jp-ui-font-size1);
  font-weight: 600;
  float: right;
  margin: 3px;
}

/*
  Companion packages dialog
*/

input[type='checkbox'] {
  appearance: checkbox;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  height: auto;
}

/*
  Generic dialog
*/
.jp-extensionmanager-dialog .jp-extensionmanager-dialog-subheader {
  font-size: var(--jp-ui-font-size1);
  font-weight: 600;
  color: var(--jp-ui-font-color0);
}
