.jc-Highlight {
  background-color: rgba(255, 165, 0, 0.25);
}

.jc-HighlightFocus {
  background-color: rgba(255, 165, 0, 0.65);
}

.jc-IconShadow {
  filter: drop-shadow(0 2px 1px var(--jp-shadow-umbra-color));
  cursor: pointer;
}
