:root {
  --jc-comment-profile-pic-size: 32px;
  --jc-comment-color: var(--jp-ui-font-color0);
  --jc-comment-background-color: var(--jp-layout-color1);
  --jc-comment-border-color: #c5c5c5;
  --jc-comment-border: 1px solid var(--jc-comment-border-color);
  --jc-timestamp-color: var(--jp-ui-font-color2);
  --jc-timestamp-font-size: smaller;
  --jc-timestamp-font-weight: regular;
  --jc-nametag-font-size: var(--jp-ui-font-size1);
  --jc-nametag-font-weight: 450;
  --var-jc-linesep: 2px;
}

.jc-CommentFileWidget {
  overflow: auto;
  flex-grow: 1;
  padding-top: 6px;
}

.jc-Comment {
  background-color: var(--jc-comment-background-color);
  padding: 10px 10px 7px;
}

.jc-Nametag {
  font-size: var(--jc-nametag-font-size);
  font-weight: var(--jc-nametag-font-weight);
  margin-left: 10px;
}

.jc-Time {
  font-size: var(--jc-timestamp-font-size);
  font-weight: var(--jc-timestamp-font-weight);
  color: var(--jc-timestamp-color);
  vertical-align: top;
  margin-left: 10px;
}

/* comment */
.jc-MarkdownBody {
  margin: 0;
  padding: 0;
}

/* replies */
.jc-MarkdownBody > * {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.jc-Body {
  font-size: 0.833rem;
  outline: none;
  border: none;
  background-color: transparent;
  white-space: pre-wrap;
  margin-top: var(--var-jc-linesep);
  line-height: 1.2em;
  padding: 3px 1px;
  min-height: 1.2em;
}

.jc-Body strong {
  font-weight: bold;
}

.jc-Body a {
  color: revert;
}

.jc-Body * {
  margin: 0;
}

.jc-Body:focus {
  outline: 1px solid var(--jp-ui-font-color3);
}

.jc-SubmitButtons {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.jc-SubmitButtons > * {
  padding: 2px;
  border: 1px solid #64b5f6;
  border-radius: 8px;
  font-size: small;
  width: 66px;
  text-align: center;
  cursor: pointer;
}

.jc-SubmitButton {
  background-color: #64b5f6;
}

/* .jc-SubmitButtonInactive {
  background-color:  #adafb0;
} */

.jc-CommentProfilePic {
  border-radius: 50%;
  top: 0;
  left: 0;
  height: var(--jc-comment-profile-pic-size);
  width: var(--jc-comment-profile-pic-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.jc-CommentProfilePicContainer {
  float: left;
  width: var(--jc-comment-profile-pic-size);
}

.jc-Ellipses {
  float: right;
  width: var(--jc-dropdown-size);
  height: var(--jc-dropdown-size);
  display: none;
}

.jc-Comment:hover .jc-Ellipses {
  display: inline-block;
}

.jc-Ellipses > svg {
  width: var(--jc-dropdown-size);
}

.jc-Error {
  height: 120px;
  width: 120px;
  background-color: red;
}

.jc-MoonIcon {
  width: 80%;
  height: 80%;
}

.jc-Preview {
  display: grid;
  grid-template-columns: 6px calc(100% - 6px);
  padding-left: 10px;
  margin-top: var(--var-jc-linesep);
}

.jc-PreviewBar {
  width: 2px;
  height: 100%;
  background-color: var(--jp-warn-color0);
}

.jc-PreviewText {
  color: var(--jc-timestamp-color);
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  margin-left: 10px;
}

.jc-CommentWidget:focus-within .jc-mod-focus-border {
  border-color: var(--jp-brand-color1);
}

.jc-CommentWidget:focus-within {
  border-color: var(--jp-brand-color1);
}

.jc-CommentPanel {
  background-color: var(--jc-panel-background-color);
  color: var(--jc-comment-color);
  display: flex;
  flex-direction: column;
}

.jc-CommentWidget {
  margin: 0 8px 6px;
  border: var(--jc-comment-border);
  border-radius: 5px;
}
