:root {
  --jc-dropdown-size: 25px;
  --jc-comment-profile-pic-size: 32px;
  --jc-reply-pic-size: 24px;
  --jc-panel-background-color: var(--jp-layout-color0);
  --jc-comment-color: var(--jp-ui-font-color0);
  --jc-comment-background-color: var(--jp-layout-color1);
  --jc-comment-border-color: #c5c5c5;
  --jc-comment-border: 1px solid var(--jc-comment-border-color);
  --jc-timestamp-color: var(--jp-ui-font-color2);
  --jc-timestamp-font-size: smaller;
  --jc-timestamp-font-weight: regular;
  --jc-nametag-font-size: var(--jp-ui-font-size1);
  --jc-nametag-font-weight: 450;
  --var-jc-linesep: 2px;
}

.jc-ReplySpacer {
  margin-top: 8px;
}

.jc-ReplyInputArea:empty::before {
  content: attr(data-placeholder);
  color: var(--jp-ui-font-color3);
}

.jc-ReplyInputArea {
  border-top: var(--jc-comment-border);
  padding: 10px;
  word-break: break-word;
}

.jc-Reply {
  white-space: pre-wrap;
  border-top: var(--jc-comment-border);
}

.jc-Replies-breaker:focus {
  outline: 1px solid var(--jp-ui-font-color3);
}

.jc-Replies-breaker {
  height: 24px;
  z-index: 2;
  border-top: var(--jc-comment-border);
  position: relative;
  cursor: pointer;
}

.jc-Replies-breaker-right {
  overflow: hidden;
}

.jc-Replies-breaker-left {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--jp-ui-font-color2);
  font-family: var(--jp-content-font-family);
  font-size: var(--jp-content-font-size1);
  line-height: var(--jp-content-line-height);
}

.jc-RepliesSpacer {
  float: right;
  width: 10px;
  height: 1px;
}

.jc-Replies-breaker-right > hr {
  border: 0.5px solid var(--jp-ui-font-color3);
  width: 100%;
  z-index: 1;
}

.jc-Replies-breaker-number {
  /* 32px circle */
  border-radius: 50%;
  width: 32px;
  height: 32px;

  /* Color */
  border: 1px solid var(--jp-ui-font-color3);
  background-color: var(--jc-panel-background-color);

  /* Center text */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  /* Pixel-pushing circle */
  float: right;
  position: absolute;
  right: 20px;
  bottom: -5px;
}

.jc-CommentInput {
  width: 100%;
  min-height: 44px;
  padding: 5px 4px;
}

.jc-Indicator {
  cursor: pointer;
  position: absolute;
  text-align: center;
  z-index: 5;
}

.jc-ReplyPic {
  border-radius: 50%;
  top: 0;
  left: 0;
  height: var(--jc-reply-pic-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.jc-ReplyPicContainer {
  float: left;
  width: var(--jc-reply-pic-size);
  height: var(--jc-reply-pic-size);
}
