.outputconsole-toolbar-status .jp-Icon {
  color: var(--jp-ui-font-color0);
}

.outputconsole-toolbar-status.hilite button {
  transition: background-color 1s ease-out;
  background-color: var(--jp-info-color0);
}
