name: Check Release

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  release:
    types: [published]

jobs:

  check_release:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        group: [check_release, link_check]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Check Release
        if: ${{ matrix.group == 'check_release' }}
        uses: jupyter-server/jupyter_releaser/.github/actions/check-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version_spec: next

      - name: Run Link Check
        if: ${{ matrix.group == 'link_check' }}
        uses: jupyter-server/jupyter_releaser/.github/actions/check-links@v2

      - name: Upload Assets
        if: ${{ matrix.group == 'check_release' }}
        uses: actions/upload-artifact@v3
        with:
          name: jupyterlab-releaser-dist-${{ github.run_number }}
          path: |
            .jupyter_releaser_checkout/dist/*.*
