name: Linux JS Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [published]

jobs:
  setup:
    name: Setup test matrix
    runs-on: ubuntu-22.04
    outputs:
      group: ${{ steps.set-matrix.outputs.group }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set matrix
        id: set-matrix
        shell: python
        run: |
          import json, os
          from pathlib import Path

          packages = sorted([f'js-{p.name}' for p in Path('packages').iterdir() if (p / 'test').is_dir()])

          with open(os.environ['GITHUB_OUTPUT'], 'a') as f:
              f.write(f'group={json.dumps(packages)}\n')

  linuxjs:
    name: JS
    needs: setup
    strategy:
      matrix:
        python-version: ["3.14"]
        group: ${{ fromJson(needs.setup.outputs.group) }}
      fail-fast: false
    runs-on: ubuntu-22.04
    timeout-minutes: 40
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Install dependencies
        env:
          GROUP: ${{ matrix.group }}
        run: |
          bash ./scripts/ci_install.sh

      - name: Run test ${{ matrix.group }}
        env:
          GROUP: ${{ matrix.group }}
        run: |
          bash ./scripts/ci_script.sh
