name: Documentation Spell Check

on:
  pull_request:
    paths:
      - '**.md'
      - '**.rst'
      - 'docs/**'
      - '**.txt'
      - 'README*'
      - 'CHANGELOG*'
      - 'CONTRIBUTING*'

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run codespell
        uses: codespell-project/actions-codespell@v2
        with:
          check_filenames: false
          skip: '*.min.js,*.map,*.lock,*.json,node_modules,*.ipynb,*.svg,*.png,*.jpg,*.jpeg,*.gif,*.ico,*.woff,*.woff2,*.ttf,*.eot,*.sum,*.pyc,.git,yarn.lock,package-lock.json,*.bundle.js,yarn.js'
          ignore_words_file: .codespellignore
