name: Tests - Xeus-Python Wheel

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install node
      uses: actions/setup-node@v1
      with:
       node-version: '10.x'

    - name: Install Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.8'

    - name: Install the dependencies
      run: python -m pip install xeus-python==0.7.1 "jupyterlab>=2,<3" "notebook>=6,<7" ptvsd

    - name: Build and install the extension
      run: |
        jlpm && jlpm run build
        jupyter labextension link .

    - name: Install libgbm1 to fix puppeteer
      run: sudo apt-get install libgbm1

    - name: Browser check
      run: python -m jupyterlab.browser_check

    - name: Run the tests
      run: |
        export XEUS_LOG=1
        jlpm run test
